lockPref("app.normandy.api_url", "");
lockPref("app.normandy.enabled", false);
lockPref("app.shield.optoutstudies.enabled", false);
lockPref("app.update.auto", false);
lockPref("beacon.enabled", false);
lockPref("breakpad.reportURL", "");
lockPref("browser.aboutConfig.showWarning", false);
lockPref("browser.cache.offline.enable", false);
lockPref("browser.crashReports.unsubmittedCheck.autoSubmit", false);
lockPref("browser.crashReports.unsubmittedCheck.autoSubmit2", false);
lockPref("browser.crashReports.unsubmittedCheck.enabled", false);
lockPref("browser.disableResetPrompt", true);
lockPref("browser.newtab.preload", false);
lockPref("browser.newtabpage.activity-stream.section.highlights.includePocket", false);
lockPref("browser.newtabpage.enhanced", false);
lockPref("browser.newtabpage.introShown", true);
lockPref("browser.safebrowsing.appRepURL", "");
lockPref("browser.safebrowsing.blockedURIs.enabled", false);
lockPref("browser.safebrowsing.downloads.enabled", false);
lockPref("browser.safebrowsing.downloads.remote.enabled", false);
lockPref("browser.safebrowsing.downloads.remote.url", "");
lockPref("browser.safebrowsing.enabled", false);
lockPref("browser.safebrowsing.malware.enabled", false);
lockPref("browser.safebrowsing.phishing.enabled", false);
lockPref("browser.selfsupport.url", "");
lockPref("browser.send_pings", false);
lockPref("browser.sessionstore.privacy_level", 2);
lockPref("browser.shell.checkDefaultBrowser", false);
lockPref("browser.startup.homepage_override.mstone", "ignore");
lockPref("browser.tabs.crashReporting.sendReport", false);
lockPref("browser.urlbar.groupLabels.enabled", false);
lockPref("browser.urlbar.quicksuggest.enabled", false);
lockPref("browser.urlbar.speculativeConnect.enabled", false);
lockPref("browser.urlbar.trimURLs", false);
lockPref("datareporting.healthreport.service.enabled", false);
lockPref("datareporting.healthreport.uploadEnabled", false);
lockPref("datareporting.policy.dataSubmissionEnabled", false);
lockPref("device.sensors.ambientLight.enabled", false);
lockPref("device.sensors.enabled", false);
lockPref("device.sensors.motion.enabled", false);
lockPref("device.sensors.orientation.enabled", false);
lockPref("device.sensors.proximity.enabled", false);
lockPref("dom.battery.enabled", false);
lockPref("dom.event.clipboardevents.enabled", false);
lockPref("dom.webaudio.enabled", false);
lockPref("experiments.activeExperiment", false);
lockPref("experiments.enabled", false);
lockPref("experiments.manifest.uri", "");
lockPref("experiments.supported", false);
lockPref("extensions.Decentraleyes@ThomasRientjes.whiteList", "");
lockPref("extensions.autoDisableScopes", 14);
lockPref("extensions.getAddons.cache.enabled", false);
lockPref("extensions.getAddons.showPane", false);
lockPref("extensions.pocket.enabled", false);
lockPref("extensions.shield-recipe-client.api_url", "");
lockPref("extensions.shield-recipe-client.enabled", false);
lockPref("extensions.webservice.discoverURL", "");
lockPref("extensions.langpacks.signatures.required", false);
lockPref("media.autoplay.default", 0);
lockPref("media.autoplay.enabled", true);
lockPref("media.eme.enabled", false);
lockPref("media.gmp-widevinecdm.enabled", false);
lockPref("media.navigator.enabled", false);
lockPref("media.peerconnection.enabled", false);
lockPref("media.video_stats.enabled", false);
lockPref("network.allow-experiments", false);
lockPref("network.captive-portal-service.enabled", false);
lockPref("network.cookie.cookieBehavior", 4);
lockPref("network.dns.disablePrefetch", true);
lockPref("network.dns.disablePrefetchFromHTTPS", true);
lockPref("network.http.referer.spoofSource", true);
lockPref("network.http.speculative-parallel-limit", 0);
lockPref("network.predictor.enable-prefetch", false);
lockPref("network.predictor.enabled", false);
lockPref("network.prefetch-next", false);
lockPref("network.trr.mode", 5);
lockPref("privacy.donottrackheader.enabled", true);
lockPref("privacy.donottrackheader.value", 1);
lockPref("privacy.trackingprotection.cryptomining.enabled", true);
lockPref("privacy.trackingprotection.enabled", true);
lockPref("privacy.trackingprotection.fingerprinting.enabled", true);
lockPref("privacy.trackingprotection.pbmode.enabled", true);
lockPref("privacy.usercontext.about_newtab_segregation.enabled", true);
lockPref("security.ssl.disable_session_identifiers", true);
lockPref("services.sync.prefs.sync.browser.newtabpage.activity-stream.showSponsoredTopSite", false);
lockPref("signon.autofillForms", false);
lockPref("toolkit.telemetry.archive.enabled", false);
lockPref("toolkit.telemetry.bhrPing.enabled", false);
lockPref("toolkit.telemetry.cachedClientID", "");
lockPref("toolkit.telemetry.enabled", false);
lockPref("toolkit.telemetry.firstShutdownPing.enabled", false);
lockPref("toolkit.telemetry.hybridContent.enabled", false);
lockPref("toolkit.telemetry.newProfilePing.enabled", false);
lockPref("toolkit.telemetry.prompted", 2);
lockPref("toolkit.telemetry.rejected", true);
lockPref("toolkit.telemetry.reportingpolicy.firstRun", false);
lockPref("toolkit.telemetry.server", "");
lockPref("toolkit.telemetry.shutdownPingSender.enabled", false);
lockPref("toolkit.telemetry.unified", false);
lockPref("toolkit.telemetry.unifiedIsOptIn", false);
lockPref("toolkit.telemetry.updatePing.enabled", false);
lockPref("webgl.disabled", true);
lockPref("webgl.renderer-string-override", " ");
lockPref("webgl.vendor-string-override", " ");
lockPref("xpinstall.signatures.required", false);
lockPref("accessibility.force_disabled", 1);
