alias clone='git clone'
alias htop='sudo htop'
alias ls='ls --color=auto'
alias shred='shred -zf'
alias python='python3'
alias wget='wget -U "noleak"'
alias curl='curl --user-agent "noleak"'
alias burpsuite='java -jar -Xmx2G burploader.jar'
alias mkdir='mkdir -p'
alias grep='grep --color=auto'
alias follow='tail -f -n +1'
alias checkport='f() { [ -z "$1" ] && echo "Usage: checkport PORTNUMBER" || sudo netstat -antup | grep -i listen | grep ":$1"; }; f'
alias clearcache='sudo systemd-resolve --flush-caches'
alias getwindowinfo='xprop | grep -E "WM_CLASS|WM_NAME"'
alias getclassinfo='xwininfo -tree -root | grep -E "class"'
