# Display system info and fortune
neofetch
echo ------
fortune
echo ------

# Set keyboard repeat rate
xset r rate 200 40

# Environment exports
export GEM_HOME="$(ruby -e 'puts Gem.user_dir')"
export PATH="$PATH:$GEM_HOME/bin:${HOME}/bin:/sbin:/usr/local/bin:/usr/local/sbin:/opt/bin:/usr/games/bin:~/.local/bin:/var/lib/snapd/snap/bin:/opt/cuda/bin"
export LD_LIBRARY_PATH="/opt/cuda/lib64:$LD_LIBRARY_PATH"
export PS1="\[\033[0;34m\][ \[\033[0;36m\]\H \[\033[1;30m\]\w\[\033[1;30m\] \[\033[0;34m\]]\\[\033[1;30m\]\$ \[\033[0m\]"
export EDITOR="nano"
export MONITOR="$(polybar -m | tail -1 | cut -d ':' -f 1)"
export PYENV_ROOT="$HOME/.pyenv"
#PYTHON_VERSION=$(python3 -c 'import sys; print(sys.version_info[0])')
#export PYTHONPATH="$PYTHONPATH:$HOME/.local/lib/python${PYTHON_VERSION}*/site-packages"
# Add user bin directory to PATH if it exists
if [ -d "$HOME/.local/bin" ]; then
    PATH="$HOME/.local/bin:$PATH"
fi

# Aliases
alias clone='git clone'
alias htop='sudo htop'
alias ls='ls --color=auto'
alias shred='shred -zf'
alias python='python3'
alias wget='wget -U "noleak"'
alias curl='curl --user-agent "noleak"'
alias burpsuite='java -jar -Xmx2G burploader.jar'
alias mkdir='mkdir -p'
alias grep='grep --color=auto'
alias follow='tail -f -n +1'
alias checkport='f() { [ -z "$1" ] && echo "Usage: checkport PORTNUMBER" || sudo netstat -antup | grep -i listen | grep ":$1"; }; f'
alias clearcache='sudo systemd-resolve --flush-caches'

# Source bash completions
[ -r /usr/share/bash-completion/completions ] && . /usr/share/bash-completion/completions/*

# Pyenv initialization
if [[ -d $PYENV_ROOT/bin ]]; then
    export PATH="$PYENV_ROOT/bin:$PATH"
    eval "$(pyenv init --path)"
    eval "$(pyenv init -)"
    eval "$(pyenv virtualenv-init -)"
fi

# Color prompt for root user
if [ "${UID}" -eq "0" ]; then
    PS1="\[\033[0;31m\][ \[\033[0;36m\]\H \[\033[1;30m\]\w\[\033[1;30m\] \[\033[0;31m\]]\\[\033[1;30m\]\$ \[\033[0m\]"
fi

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/home/mrgrim/miniconda/bin/conda' 'shell.bash' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/home/mrgrim/miniconda/etc/profile.d/conda.sh" ]; then
        . "/home/mrgrim/miniconda/etc/profile.d/conda.sh"
    else
        export PATH="/home/mrgrim/miniconda/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<[ -f /opt/miniconda3/etc/profile.d/conda.sh ] && source /opt/miniconda3/etc/profile.d/conda.sh