neofetch
fortune
echo ------

{% if ansible_hostname == 'OtherLinux' %}

{% elif ansible_hostname == 'laptop' %}
alias htop='sudo htop'
alias shred='shred -zf'
alias burpsuite='java -jar -Xmx2G burploader.jar'

{% elif ansible_hostname == 'desktop' %}

# Set keyboard repeat rate
xset r rate 200 40

# Environment exports
export CUDA_VISIBLE_DEVICES=0
export CRYPTOGRAPHY_OPENSSL_NO_LEGACY=1
export GEM_HOME="$(ruby -e 'puts Gem.user_dir')"
export PATH="$PATH:/opt/google-cloud-cli/bin:$GEM_HOME/bin:${HOME}/bin:/sbin:/usr/local/bin:/usr/local/sbin:/opt/bin:/usr/games/bin:~/.local/bin:/var/lib/snapd/snap/bin:/opt/cuda/bin:"

export LD_LIBRARY_PATH="/opt/cuda/lib64:$LD_LIBRARY_PATH"
export MONITOR="$(polybar -m | tail -1 | cut -d ':' -f 1)"
export PYENV_ROOT="$HOME/.pyenv"
#PYTHON_VERSION=$(python3 -c 'import sys; print(sys.version_info[0])')
#export PYTHONPATH="$PYTHONPATH:$HOME/.local/lib/python${PYTHON_VERSION}*/site-packages"

alias clearcache='sudo systemd-resolve --flush-caches'
alias ssh="TERM=xterm-256color $(which ssh)"
# Source bash completions
[ -r /usr/share/bash-completion/completions ] && . /usr/share/bash-completion/completions/*

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('$HOME/miniconda3/bin/conda' 'shell.bash' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "$HOME/miniconda3/etc/profile.d/conda.sh" ]; then
        . "$HOME/miniconda3/etc/profile.d/conda.sh"
    else
        export PATH="$HOME/miniconda3/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<



{% endif %}

if [ -d "$HOME/.local/bin" ]; then
    PATH="$HOME/.local/bin:$PATH"
fi

export ANSIBLE_LOCAL_TEMP=$HOME/.ansible/tmp
export ANSIBLE_REMOTE_TEMP=$HOME/.ansible/tmp
export PS1="\[\033[0;34m\][ \[\033[0;36m\]\H \[\033[1;30m\]\w\[\033[1;30m\] \[\033[0;34m\]]\\[\033[1;30m\]\$ \[\033[0m\]"
export EDITOR="nano"

alias follow='tail -f -n +1'
alias checkport='f() { [ -z "$1" ] && echo "Usage: checkport PORTNUMBER" || sudo netstat -antup | grep -i listen | grep ":$1"; }; f'
alias clone='git clone'
alias ls='ls --color=auto'
alias mkdir='mkdir -p'
alias grep='grep --color=auto'
alias wget='wget -U "noleak"'
alias curl='curl --user-agent "noleak"'
alias python='python3'
alias ap='ansible-pull -o -U https://github.com/0x7C2f/setup/'

# Color prompt for root user
if [ "${UID}" -eq "0" ]; then
    PS1="\[\033[0;31m\][ \[\033[0;36m\]\H \[\033[1;30m\]\w\[\033[1;30m\] \[\033[0;31m\]]\\[\033[1;30m\]\$ \[\033[0m\]"
fi

# Function to automatically activate/deactivate venv
function cd() {
    builtin cd "$@"
    
    # Check if we entered a directory with a virtual environment
    if [ -f ".venv/bin/activate" ]; then
        echo "Activating virtual environment..."
        source .venv/bin/activate
    else
        # Deactivate the current virtual environment if we leave the folder
        if [ -n "$VIRTUAL_ENV" ]; then
            echo "Deactivating virtual environment..."
            deactivate
        fi
    fi
}
