{
    "editor.wordWrap": "on",
    "workbench.iconTheme": "vscode-icons",
    "explorer.confirmDragAndDrop": false,
    "cSpell.userWords": [
        "chromadb",
        "chromedriver",
        "dotenv",
        "Hitman",
        "htmlmin",
        "mxbai",
        "nomic",
        "Ollama",
        "pycache",
        "tablefmt",
        "Xfinity"
    ],
    "git.enableSmartCommit": true,
    "redhat.telemetry.enabled": false,
    "terminal.integrated.defaultProfile.linux": "bash",
    "git.ignoreRebaseWarning": true,
    "files.autoSave": "afterDelay",
    "telemetry.telemetryLevel": "off",
    "workbench.panel.defaultLocation": "right",
    "editor.tabSize": 4,
    "editor.insertSpaces": true,
    "discord.removeDetails": true,
    "discord.removeLowerDetails": true,
    "python.pythonPath": "/opt/miniconda3/envs/myenv/bin/python",
    "python.terminal.activateEnvironment": true,
    "python.terminal.activateEnvInCurrentTerminal": true,
    "cSpell.diagnosticLevel": "Hint",
    "workbench.colorCustomizations": {
        "editorHint.foreground": "#ff0000",
        "editorHint.border": "#00ff66",
        "editorHint.foreground": "#f00000"
    },
    "terminal.integrated.inheritEnv": true,
    "[python]": {
        "editor.tabSize": 4,
        "editor.insertSpaces": true,
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[html]": {
        "editor.tabSize": 4,
        "editor.insertSpaces": true,
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[javascript]": {
        "editor.tabSize": 4,
        "editor.insertSpaces": true,
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[javascriptreact]": {
        "editor.tabSize": 4,
        "editor.insertSpaces": true,
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[yaml]": {
        "editor.tabSize": 4,
        "editor.insertSpaces": true,
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[scss]": {
        "editor.tabSize": 4,
        "editor.insertSpaces": true,
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[json]": {
        "editor.tabSize": 4,
        "editor.insertSpaces": true,
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[shellscript]": {
        "editor.tabSize": 4,
        "editor.insertSpaces": true,
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "workbench.colorTheme": "Default Light Modern",
}
