{
    "editor.wordWrap": "on",
    "workbench.iconTheme": "vscode-icons",
    "explorer.confirmDragAndDrop": false,
    "cSpell.userWords": [
        "chromadb",
        "chromedriver",
        "dotenv",
        "Hitman",
        "htmlmin",
        "mxbai",
        "nomic",
        "Ollama",
        "pycache",
        "tablefmt",
        "Xfinity"
    ],
    "git.enableSmartCommit": true,
    "redhat.telemetry.enabled": false,
    "terminal.integrated.defaultProfile.linux": "bash",
    "git.ignoreRebaseWarning": true,
    "files.autoSave": "afterDelay",
    "telemetry.telemetryLevel": "off",
    "workbench.panel.defaultLocation": "right",
    "editor.tabSize": 4,
    "editor.insertSpaces": true,
    "[python]": {
        "editor.tabSize": 4,
        "editor.insertSpaces": true
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[yaml]": {
        "editor.tabSize": 4,
        "editor.insertSpaces": true
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[html]": {
        "editor.tabSize": 4,
        "editor.insertSpaces": true
        
    },
    "[javascript]": {
        "editor.tabSize": 4,
        "editor.insertSpaces": true
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[javascriptreact]": {
        "editor.tabSize": 4,
        "editor.insertSpaces": true
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[yaml]": {
        "editor.tabSize": 4,
        "editor.insertSpaces": true
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[scss]": {
        "editor.tabSize": 4,
        "editor.insertSpaces": true
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "discord.removeDetails": true,
    "discord.removeLowerDetails": true
}