{
    "editor.wordWrap": "on",
    "workbench.iconTheme": "vscode-icons",
    "explorer.confirmDragAndDrop": false,
    "cSpell.userWords": [
        "chromadb",
        "dotenv",
        "Hitman",
        "mxbai",
        "nomic",
        "Ollama",
        "Xfinity"
    ],
    "git.enableSmartCommit": true,
    "redhat.telemetry.enabled": false,
    "terminal.integrated.defaultProfile.linux": "bash",
    "git.ignoreRebaseWarning": true,
    "files.autoSave": "afterDelay",
    "telemetry.telemetryLevel": "off",
    "workbench.panel.defaultLocation": "right"
}